
<!-- form template for adding new task -->
<form class="add-form">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" id="day" name="day" placeholder="Add Day And Time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder Me</label>
        <input type="checkbox" name="reminder" id="reminder">
    </div>
    <!-- submit input -->
    <input type="submit" value="Save Task" class="btn btn-block">
</form>
